<div class="tab-content">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="table-box">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                      <th><h4>LIST OF SONGS & SINGERS</h4></th>
                    </tr>
                </thead>
                <tbody>
                    <% @results["response"]["hits"].each do |result|%>
                    <tr>
                        <td><%= link_to result["result"]["title"], song_path(result["result"]["id"])%> - <%= link_to result["result"]["primary_artist"]["name"], search_keyword_path(result["result"]["primary_artist"]["id"])%>
                        <%if result["result"]["featured_artists"].length > 0%>
                        ft. <%result["result"]["featured_artists"].each do |ft|%>
                        <%= link_to ft["name"], search_keyword_path(ft["id"])%>
                        <%end%>
                        <%end%> </td>
                    </tr>
                    <%end%>
                </tbody>
            </table> 
        </div>
    </div>
</div>