<h1>Genius</h1>

<% @results["response"]["hits"].each do |result|%>
<p><%= link_to result["result"]["title"], song_path(result["result"]["id"])%> - <%= link_to result["result"]["primary_artist"]["name"], search_keyword_path(result["result"]["primary_artist"]["id"])%> </p>
<%end%>