@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
    box-sizing: border-box;}
  
html {
  height: 100%;}

body {
  background-color: #dee2e6;
  color: #7e8ba3;
  font: 300 1rem/1.5 Helvetica Neue, sans-serif;
  margin: 0;
  min-height: 100%;}

input {
  border: 0;
  font: inherit;}

.form input {
  outline: 0;
  padding: 0.5rem 1rem;}

.grid {
  margin: 0 auto;
  max-width: 25rem;
  width: 100%;}

h2 {
  font-size: 2rem;
  font-weight: 100;
  margin: 0 0 1rem;
  text-transform: uppercase;}

h4 {
  font-weight: bold;}

svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;}

a {
  color: #7e8ba3;}

.center {
  text-align: center;}

.margin {
  margin: 0 10rem;}

.card {
  margin-top: 6rem;
  border: 1px solid #b3b3b3;
  border-radius: 2rem;
  display: flex;
  justify-content: center;}

.form-control {
  background-color: #dee2e6;}

.table-box {
  border: solid 1px #b3b3b3;
  margin-top: 6rem;
  padding: 2rem 2rem 0 2rem;
  border-radius: 1rem;}

.table {
  color: #7e8ba3;}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  color: #e1e4ea !important;}

.col-sm-13 {
  margin-top: 1rem;}

.utube {
  margin-top: 1.5rem;}

.card-header {
  background-color: #354152;
  border: none !important ;}

.card-title {
  font-weight: 600;}

.box {
  display: flex;
  justify-content: center;
  margin-top: 2rem;}

.card-body {
  margin: 2rem;}

.white {
  background-color: #FFF}

a:link {
  text-decoration: none;}

.navbar-brand{
  color: #f1f1f1;}

.profile > h2{
  font-weight: bold;
  margin-top: 1rem;}
  
.bg-dark {
 background-color: #5f6d86 !important;}

.myfont {
  font-family: 'Rampart One', cursive;
  font-size: 30px;
}

